In [ ]:
%%capture
!pip install tabula-py

In [ ]:
import os
import pandas as pd
import tabula

base = '/content/drive/MyDrive/_599/Capstone/'
os.chdir(base)

# Sun Tables
https://gml.noaa.gov/grad/solcalc/

In [ ]:
sun_tables_path = '/content/drive/MyDrive/_599/Capstone/Data/Sunset Data/'
files = os.listdir(sun_tables_path)
files

['2018_sunset.pdf',
 '2019_sunset.pdf',
 '2020_sunset.pdf',
 '2021_sunset.pdf',
 '2022_sunset.pdf',
 'sunset_2018.csv',
 'sunset_2019.csv',
 'sunset_2020.csv',
 'sunset_2021.csv',
 'sunset_2022.csv']

In [ ]:
# header column names
header = ['day','jan','feb','mar','apr','may','jun','jul','aug','sep','oct','nov','dec']

for file_ in files:
  file_path = sun_tables_path + file_
  # tabula returns a list, 1st item is our data
  df = tabula.read_pdf(file_path, pandas_options={'header':None})[0]
  # write column names
  df.columns = header

  year_str = file_[:4]

  df.to_csv(sun_tables_path + f'sunset_{year_str}.csv',index=False)

WARNING:tabula.util:'pages' argument isn't specified.Will extract only from page 1 by default.
WARNING:tabula.util:'pages' argument isn't specified.Will extract only from page 1 by default.
WARNING:tabula.util:'pages' argument isn't specified.Will extract only from page 1 by default.

# Reading In Sunset Files

In [ ]:
sunset_files = ['sunset_2018.csv',
                'sunset_2019.csv',
                'sunset_2020.csv',
                'sunset_2021.csv',
                'sunset_2022.csv']
sun_tables_path = '/content/drive/MyDrive/_599/Capstone/Data/Sunset Data/'

sunset_dict = {}
for file_ in sunset_files:
  file_path = sun_tables_path + file_
  # tabula returns a list, 1st item is our data
  df = pd.read_csv(file_path)

  # grab year from file, 1st removing .csv (:-4) following w/ removal of sunset (7:)
  year_str = file_[:-4][7:]

  sunset_dict[int(year_str)] = df


sunset_dict[2018]

,day,jan,feb,mar,apr,may,jun,jul,aug,sep,oct,nov,dec
0,1,16:55,17:24,17:49,19:14,19:37,19:59,20:08,19:54,19:19,18:37,18:00,16:44
1,2,16:56,17:25,17:50,19:15,19:38,20:00,20:08,19:53,19:17,18:36,17:59,16:43
2,3,16:56,17:26,17:51,19:15,19:38,20:00,20:08,19:52,19:16,18:34,17:58,16:43
3,4,16:57,17:26,17:52,19:16,19:39,20:01,20:08,19:51,19:15,18:33,16:57,16:43
4,5,16:58,17:27,17:53,19:17,19:40,20:02,20:08,19:50,19:13,18:32,16:56,16:43
5,6,16:59,17:28,17:54,19:18,19:41,20:02,20:08,19:49,19:12,18:30,16:55,16:43
6,7,17:00,17:29,17:54,19:18,19:42,20:03,20:07,19:48,19:10,18:29,16:55,16:43
7,8,17:01,17:30,17:55,19:19,19:42,20:03,20:07,19:47,19:09,18:28,16:54,16:44
8,9,17:01,17:31,17:56,19:20,19:43,20:04,20:07,19:46,19:08,18:26,16:53,16:44
9,10,17:02,17:32,17:57,19:21,19:44,20:04,20:07,19:45,19:06,18:25,16:52,16:44
10,11,17:03,17:33,18:58,19:21,19:45,20:04,20:06,19:44,19:05,18:24,16:52,16:44
11,12,17:04,17:34,18:58,19:22,19:45,20:05,20:06,19:43,19:04,18:22,16:51,16:44
12,13,17:05,17:35,18:59,19:23,19:46,20:05,20:06,19:42,19:02,18:21,16:50,16:45
13,14,17:06,17:36,19:00,19:24,19:47,20:06,20:05,19:41,19:01,18:20,16:50,16:45
14,15,17:07,17:37,19:01,19:24,19:48,20:06,20:05,19:40,18:59,18:19,16:49,16:45
15,16,17:08,17:38,19:02,19:25,19:48,20:06,20:04,19:39,18:58,18:17,16:49,16:46
16,17,17:09,17:39,19:02,19:26,19:49,20:07,20:04,19:37,18:56,18:16,16:48,16:46
17,18,17:10,17:40,19:03,19:27,19:50,20:07,20:03,19:36,18:55,18:15,16:47,16:46
18,19,17:11,17:41,19:04,19:28,19:51,20:07,20:03,19:35,18:54,18:14,16:47,16:47
19,20,17:12,17:42,19:05,19:28,19:51,20:07,20:02,19:34,18:52,18:13,16:47,16:47
20,21,17:13,17:42,19:05,19:29,19:52,20:08,20:02,19:33,18:51,18:11,16:46,16:48
21,22,17:14,17:43,19:06,19:30,19:53,20:08,20:01,19:31,18:49,18:10,16:46,16:48
22,23,17:15,17:44,19:07,19:31,19:53,20:08,20:00,19:30,18:48,18:09,16:45,16:49
23,24,17:16,17:45,19:08,19:31,19:54,20:08,20:00,19:29,18:47,18:08,16:45,16:49
24,25,17:17,17:46,19:08,19:32,19:55,20:08,19:59,19:28,18:45,18:07,16:45,16:50
25,26,17:18,17:47,19:09,19:33,19:56,20:08,19:58,19:26,18:44,18:06,16:44,16:50
26,27,17:19,17:48,19:10,19:34,19:56,20:08,19:58,19:25,18:42,18:05,16:44,16:51
27,28,17:20,17:49,19:11,19:35,19:57,20:08,19:57,19:24,18:41,18:04,16:44,16:52
28,29,17:21,NaN,19:12,19:35,19:57,20:08,19:56,19:23,18:40,18:03,16:44,16:52
29,30,17:22,NaN,19:12,19:36,19:58,20:08,19:55,19:21,18:38,18:02,16:44,16:53
30,31,17:23,NaN,19:13,NaN,19:59,NaN,19:54,19:20,NaN,18:01,NaN,16:54